<style>#slider{width:100%;margin-bottom:30px;margin-top:15px;margin-left:10px}#custom-handle{width:3em;height:1.6em;top:50%;margin-top:-.8em;text-align:center;line-height:1.6em}#vysledky{width:100%}.vysltd:first-child{width:60%}.vysltd:nth-child(1n+2){text-align:center}input[type=radio]{margin-right:5px}.inlabel{display:inline;font-weight:normal}</style>
<script src="https://unpkg.com/jquery@3.2.1"></script>
<script src="https://interaktivni.rozhlas.cz/data/dhondtator/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://interaktivni.rozhlas.cz/data/dhondtator/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.0/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="">

<div class="b-data__bg" style="background-image: url('https://www.irozhlas.cz/sites/default/files/images/02815614.jpeg');"><span class="b-data__caption"></span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Víc mandátů pro velké hráče, trest za rozdrobené síly. Co způsobuje D'Hondtova metoda přepočtu hlasů ve volbách</strong>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Michal Zlatkovský</a>
	<span class="meta__separator">|</span>
	<time>27. září 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">

<div class="row-main row-main--narrow">

<p class="text-bold text-lg">Rozdělením křesel v nové sněmovně zamíchaly dvě malé strany - TOP 09 a Starostové a nezávislí. Obě dostaly jen lehce přes pět procent hlasů, tedy počet, který musí překročit, aby se mohly ucházet o mandáty. Součet jejich hlasů je podobný jako ve volbách v roce 2013, kdy kandidovaly společně. Mandátů ale mají dohromady jen polovinu.</p>

<p>Je to dáno takzvanou D'Hondtovou metodou pro přepočet hlasů na mandáty, která "nahrává" stranám s velkým počtem hlasů. V českých volbách do Poslanecké sněmovny se používá od roku 2002, poté, co ji v době <a href="https://www.irozhlas.cz/veda-technologie/historie/jak-si-zeman-s-klausem-rozdelili-cesko_1710090800_zlo">opoziční smlouvy</a> společně zavedla ODS a ČSSD. Zjednodušeně řečeno funguje tak, že jednotlivé volební obvody - v Česku jich je dnes 14 a jsou totožné s kraji - si na základě počtu odevzdaných hlasů rozdělí 200 sněmovních mandátů. V každém kraji se pak přidělují mandáty zvlášť <a href="http://zpravy.idnes.cz/vypocet-zisku-mandatu-a-penez-za-volby-dyi-/domaci.aspx?c=A130910_153416_domaci_jw">postupným dělením počtu hlasů pro jednotlivé strany</a>. Používá se kvůli snadnějšímu sestavování vládních koalicí.</p>
<p>Praktický důsledek D'Hondtova přepočtu je patrný v proběhlých sněmovních volbách. Zatímco jejich vítěz, hnutí ANO, potřebovalo k zisku jednoho mandátu průměrně 19 tisíc hlasů, u nejmenší úspěšné strany STAN to bylo více než dvakrát tolik. Malé strany tak doplatily na svou rozdrobenost.</p>
<table id="hlasy"></table>

<p><br></p>
<p>Vítězi voleb zejména na úkor malých stran nahrává i nerovnoměrné rozdělení na volební obvody. Jeho důsledkem je, že krajům s malým počtem voličů - například Karlovarskému a Libereckému - připadne mnohem méně mandátů k rozdělení než třeba Praze. Ty pak kvůli D'Hondtovu přepočtu připadnou jen několika málo vítězům a na zbytek stran se nedostane. Výrazným příkladem je Strana zelených ve volbách v roce 2006. V Libereckém kraji získala 9,58 % hlasů, ale nepřipadl ji jediný z osmi mandátů.</p>
<table id="kraje"></table>

<p><br></p>
<p>Funkci D'Hondtovy metody ještě posiluje takzvaná uzavírací klauzule, která je jednou z klíčových součástí <a href="https://cs.wikipedia.org/wiki/Pom%C4%9Brn%C3%BD_volebn%C3%AD_syst%C3%A9m">poměrného volebního systému</a> a je běžná ve většině evropských zemí. Zavádí se jako pojistka proti přílišnému tříštění parlamentu, které by ztěžovalo následný vznik vlády. "Příliš velké množství politických stran zastoupených v parlamentu zpravidla vznik a fungování stabilních vlád komplikuje," říká pro server iROZHLAS.cz politolog Vlastimil Havlík z Masarykovy univerzity. "Jak ukazují studie například ze západní Evropy, vlády s větším počtem stran mají nižší trvanlivost."</p>
<p>Extrémním případem rozdrobení je Polsko, kde po volbách bez klauzule v roce 1991 zasedlo do parlamentu celkem 29 stran. V Česku existuje pětiprocentní klauzule už od prvních svobodných voleb v roce 1990 a podle Havlíka v evropském srovnání zásadně nevybočuje. Jak ovšem ukazují aktuální volební výsledky, ani ona není samospásná - do Poslanecké sněmovny zasedlo rekordních devět stran. Ve světě najdeme i výrazně nižší (Nizozemsko, 0,67 procenta) nebo vyšší (Turecko, 10 procent) hranice. </p>
<p>V naší kalkulačce si můžete spočítat, jak by se změnil poměr stranických sil v Poslanecké sněmovně při zvýšení, snížení nebo úplném zrušení pětiprocentní hranice. Použili jsme reálná data z aktuálních sněmovních voleb spolu s historickými výsledky z let 2006, 2010 a 2013. </p>
<p>Jak podotýká Vlastimil Havlík, na takový model je ale potřeba pohlížet se zdravou mírou skepse. Dokáže totiž zachytit jen mechanické působení volebního systému, ne psychologické účinky klauzule. "Pokud by klauzule neexistovala, hlasy pro malé strany nepropadají a volič nemá důvod přemýšlet strategicky," vysvětluje Havlík. Místo zvažování, která strana má šanci vstoupit do sněmovny, by voliči rovnou hlasovali pro své favority.</p>
<p><b>Nastavte uzavírací klauzuli:</b>
<div id="slider">
  <div id="custom-handle" class="ui-slider-handle"></div>
</div>
<b>Zvolte volební rok:</b><br>
<input type="radio" name="rok" id="rok2006" value="2006"><label class="inlabel" for="rok2006">2006</label><br>
<input type="radio" name="rok" id="rok2010" value="2010"><label class="inlabel" for="rok2010">2010</label><br>
<input type="radio" name="rok" id="rok2013" value="2013"><label class="inlabel" for="rok2013">2013</label><br>
<input type="radio" name="rok" id="rok2017" value="2017" checked><label class="inlabel" for="rok2017">2017</label><br>
<table id="vysledky" style="margin-top: 1.5em;">
    <tbody style="border-top:0">
    </tbody>
</table>
<i>* Pokud kalkulačka přidělila straně 0 mandátů, znamená to, že strana sice prošla přes nastavenou hranici, ale volební přepočet podle d'Hondtovy metody (viz níže) jí nepřidělil žádný mandát.</i></p>
<p>Kromě mechanického a psychologického efektu má klauzule i další účinky. Ty podle Havlíka závisí na tom, jak se voliči učí pravidlům volebního systému, tedy mechanickému účinku, na společenském kontextu, na typu voleb - v méně důležitých volbách je psychologický účinek menší -, ale také na nastavení financování politických stran. Ty mohou například argumentovat, že je důležité překonat aspoň hranici hlasů, která jim zajistí finance od státu, v Česku tedy od 1,5 % výše.</p>
<p>Modelováním volebních výsledků za použití různých pravidel <a href="https://www.kosmas.cz/knihy/202483/volby-do-poslanecke-snemovny-2013/">se pravidelně věnují</a> i výzkumníci Masarykovy univerzity, mezi které Vlastimil Havlík patří. Kromě hypotetického zrušení klauzule ukazují i výsledky voleb při přejití od d'Hondtovy metody k některému z konkurenčních způsobů přepočtu nebo při změně volebních obvodů. "Změna volebního systému nadále nabízí rychlé a jednoduché řešení, byť je samozejmě otázkou, o jakou reformu by se mělo jednat a jestli by skutečně vedla ke kýženému cíli," píšou ve své práci.</p>

<p class="meta meta--right meta--big">
<strong><a href="#" class="meta__link">Michal Zlatkovský</a></strong>
</p>
</div>
<!--[[ZPRAVY_SNOWFALL_RELATED:ARTICLES]]-->
</div><script>!function(a){function f(a,b){if(!(a.originalEvent.touches.length>1)){a.preventDefault();var c=a.originalEvent.changedTouches[0],d=document.createEvent("MouseEvents");d.initMouseEvent(b,!0,!0,window,1,c.screenX,c.screenY,c.clientX,c.clientY,!1,!1,!1,!1,0,null),a.target.dispatchEvent(d)}}if(a.support.touch="ontouchend"in document,a.support.touch){var e,b=a.ui.mouse.prototype,c=b._mouseInit,d=b._mouseDestroy;b._touchStart=function(a){var b=this;!e&&b._mouseCapture(a.originalEvent.changedTouches[0])&&(e=!0,b._touchMoved=!1,f(a,"mouseover"),f(a,"mousemove"),f(a,"mousedown"))},b._touchMove=function(a){e&&(this._touchMoved=!0,f(a,"mousemove"))},b._touchEnd=function(a){e&&(f(a,"mouseup"),f(a,"mouseout"),this._touchMoved||f(a,"click"),e=!1)},b._mouseInit=function(){var b=this;b.element.bind({touchstart:a.proxy(b,"_touchStart"),touchmove:a.proxy(b,"_touchMove"),touchend:a.proxy(b,"_touchEnd")}),c.call(b)},b._mouseDestroy=function(){var b=this;b.element.unbind({touchstart:a.proxy(b,"_touchStart"),touchmove:a.proxy(b,"_touchMove"),touchend:a.proxy(b,"_touchEnd")}),d.call(b)}}}(jQuery);$(function(){krajtab=[["ANO","29,64 %","78","64"],["ODS","11,32 %","25","24"],["Piráti","10,79 %","22","23"],["SPD","10,64 %","22","23"],["KSČM","7,76 %","15","17"],["ČSSD","7,27 %","15","15"],["KDU-ČSL","5,80 %","10","12"],["TOP 09","5,31 %","6","11"],["STAN","5,18 %","6","11"],]
$('#kraje').DataTable({language:{url:"https://interaktivni.rozhlas.cz/tools/datatables/Czech.json"},responsive:true,data:krajtab,order:[[1,'desc']],searching:false,lengthChange:false,paging:false,info:false,columns:[{title:"Strana",responsivePriority:1},{title:"Procent"},{title:"Mandátů (skutečně)"},{title:"Mandátů (jeden volební kraj)",responsivePriority:2},]});hlastab=[["ANO","1500113","78","19232"],["ODS","572962","25","22918"],["Piráti","546393","22","24836"],["SPD","538574","22","24481"],["KSČM","393100","15","26207"],["ČSSD","368347","15","24556"],["KDU-ČSL","293643","10","29364"],["TOP 09","268811","6","38402"],["STAN","262157","6","43693"],]
$('#hlasy').DataTable({language:{url:"https://interaktivni.rozhlas.cz/tools/datatables/Czech.json"},responsive:true,data:hlastab,order:[[1,'desc']],searching:false,lengthChange:false,paging:false,info:false,columns:[{title:"Strana",responsivePriority:1},{title:"Hlasů"},{title:"Mandátů"},{title:"Hlasů na mandát",responsivePriority:2},]});hranice=5;rok=2017;getDhondt()
var handle=$("#custom-handle");$("#slider").slider({min:0,max:10,step:0.1,value:5,create:function(){handle.text($(this).slider("value")+" %");},slide:function(event,ui){handle.text(_.replace(ui.value,".",",")+" %");hranice=ui.value;getDhondt()}});$("input[name=rok]").click(function(){rok=$(this).val();getDhondt()})
function getDhondt(){$.ajax({type:"GET",url:"https://interaktivni.rozhlas.cz/data/dhondtator/data/vysledky"+rok+".xml",dataType:"xml",success:function(xml){xxml=$(xml);dhondt(xxml,hranice)}});};function dhondt(xml,hranice){$xml=xml
vysledky=[];vysledekPct={};strany=[];$.each($xml.find("CR").find("STRANA"),function(id,strana){pct=$(strana).find("HODNOTY_STRANA").attr("PROC_HLASU")
vysledekPct[$(strana).attr("NAZ_STR")]=pct
if(pct>parseFloat(hranice)){strany.push($(strana).attr("KSTRANA"))};});$.each($xml.find("KRAJ"),function(id,kraj){nazev=$(kraj).attr("NAZ_KRAJ");hlasy=$(kraj).find("UCAST").attr("PLATNE_HLASY");vyslstrany=[];$.each($(kraj).find("STRANA"),function(id,strana){if(_.includes(strany,$(strana).attr("KSTRANA"))){vyslstrany.push([$(strana).attr("NAZ_STR"),$(strana).find("HODNOTY_STRANA").attr("HLASY"),0])}});vysledky.push([nazev,hlasy,vyslstrany])});hlasyCelkem=0;$.each($(vysledky),function(id,kraj){hlasyCelkem+=parseInt(kraj[1]);});rmc=Math.round(hlasyCelkem/200);mtotal=0;$.each($(vysledky),function(id,kraj){mbase=kraj[1]/rmc;kraj.push(Math.floor(mbase/1),mbase%1)
mtotal+=parseInt(mbase)});mmissing=200-mtotal
vysledky.sort(function(a,b){return parseFloat(b[4])-parseFloat(a[4])})
for(var i=0;i<mmissing;i++){vysledky[i][3]+=1;}
$.each($(vysledky),function(id,kraj){mandaty=kraj[3]
dhondtlist=[]
$.each($(kraj[2]),function(id,strana){for(var i=0;i<mandaty;i++){dhondtlist.push([strana[0],Math.round(strana[1]/(i+1))])}});dhondtlist.sort(function(a,b){return parseFloat(b[1])-parseFloat(a[1])})
dhondtlist=_.slice(dhondtlist,0,mandaty)
$.each($(dhondtlist),function(id,mandat){$.each($(kraj[2]),function(id,strana){if(mandat[0]==strana[0]){strana[2]+=1}});});});soucet={};$.each($(vysledky),function(id,kraj){$.each($(kraj[2]),function(id,strana){if(soucet[strana[0]]){soucet[strana[0]]+=strana[2]}
else{soucet[strana[0]]=strana[2]}});});vysledek=[];lidskeNazvy=[["Česká str.sociálně demokrat.","ČSSD"],["ANO 2011","ANO"],["Občanská demokratická strana","ODS"],["Křesť.demokr.unie-Čs.str.lid.","KDU-ČSL"],["Komunistická str.Čech a Moravy","KSČM"],["Úsvit přímé demokr.T.Okamury","Úsvit"],["Strana Práv Občanů ZEMANOVCI","SPOZ"],["Dělnic.str.sociální spravedl.","DSSS"],["Česká pirátská strana","Piráti"],["Strana svobodných občanů","Svobodní"],["Suverenita-blok J.Bobošíkové","Suverenita"],["NEZ.DEMOKRATÉ(předs.V.Železný)","Nezávislí demokraté"],["Svob.a př.dem.-T.Okamura (SPD)","SPD"]];for(zaznam in soucet){lidskyNazev=zaznam
$.each($(lidskeNazvy),function(id,nazev){if(lidskyNazev!=_.replace(lidskyNazev,nazev[0],nazev[1])){lidskyNazev=_.replace(lidskyNazev,nazev[0],nazev[1])}});vysledek.push([lidskyNazev,soucet[zaznam],vysledekPct[zaznam]])}
vysledek.sort(function(a,b){return(b[2]-a[2])})
$('#vysledky tbody').empty().append("<tr><td><b>Strana</b></td><td><b>Procent</b></td><td><b>Mandátů</b></td></tr>")
$.each(vysledek,function(id,radek){$('#vysledky tbody').append("<tr><td class='vysltd'>"+radek[0]+"</td><td class='vysltd'>"+_.replace(radek[2],".",",")+" %</td><td class='vysltd'>"+_.replace(radek[1],/^0/,"0*")+"</td></tr>")});};});</script>
