  #slider {
  	width: 100%;
  	margin-bottom: 30px;
  	margin-top: 15px;
  	margin-left: 10px;
  }
  #custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

  #vysledky {
    width: 100%;
  }

  .vysltd:first-child {
    width: 60%;
  }

  .vysltd:nth-child(1n+2) { 
    text-align: center;
  }

  input[type=radio] {
    margin-right: 5px;
  }

  .inlabel {
    display: inline;
    font-weight: normal;
  }